/* img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 500px;
    justify-content: center;
    
} */

html { 
    background: url(./img/bg-sola.svg) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    background: url(./img/bg-sola.svg) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .card {
    justify-content: center;
    width: 1020px;
    height: 650px;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
                0 0  0 2px rgb(190, 190, 190),
                0.3em 0.3em 1em rgba(0,0,0,0.3);
   }

   .card2 {
    width: 300px;
    height: 550px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 0;
    box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #000;
  }

  .input-container {
    position: relative;
  }
  
  .input {
    font-size: 1em;
    padding: 0.6em 1em;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    max-width: 1000px;
    color: #333;
  }
  
  .input:hover {
    background-color: #f2f2f2;
  }
  
  .input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .input::placeholder {
    color: #999;
  }
  
  .highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FEC101;
    transition: width 0.3s ease;
  }
  
  .input:focus + .highlight {
    width: 100%;
  }
  
  /* Optional: Animation on focus */
  @keyframes input-focus {
    from {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }
  
    to {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  
  .input:focus {
    animation: input-focus 0.3s ease;
  }

  button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
   }
   
   button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FEC101;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
   }
   
   button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
   }
   
   button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 8px 8px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.1em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
   }
   
   button:hover span {
    color: #00244D;
    animation: scaleUp 0.3s ease-in-out;
   }
   
   @keyframes scaleUp {
    0% {
     transform: scale(1);
    }
   
    50% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(1);
    }
   }
  
   
   